body{
    background-color: #006400;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{
    background-color:rgb(9, 139, 9);
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
}